.how_it_works {
    text-align: center;
    padding: 60px 0;
}

.section_title {
    margin-bottom: 80px;
    color: #ffffff;
    font-family: 'Work Sans';
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}

.work_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.work_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #110C06;
    border-radius: 15px;
}


.work_item_img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.work_item_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 0.5s;
}

.work_item:hover .work_item_img img {
    transform: rotate(360deg);
}

h2 {
    color: #ffffff;
    font-family: 'Work Sans';
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
}
